<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ParallelJCodeGeneratorJobChangeListeners" name="ParallelJCodeGeneratorJobChangeListeners" schema="schema/ParallelJCodeGeneratorJobChangeListeners.exsd"/>
   <extension
         id="org.parallelj.code.generator.Transformations"
         name="ParallelJ code generator transformations"
         point="net.atos.optimus.m2m.engine.core.Transformations">
      <transformationSet
            description="ParallelJ Code generation"
            id="ParallelJ"
            implementation="org.parallelj.code.generator.transformations.ParallelJNatureBasedTransformationSet">
         <transformation
               description="This transformation aims at creating a Java Package which will contain ParallelJ programs."
               factory="org.parallelj.code.generator.transformations.structure.PackageCreationFactory"
               id="PackageCreation"
               priority="0">
         </transformation>
         <transformation
               description="This transformation aims at creating a Java Program class from a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.ProgramClassCreationFactory"
               id="ProgramClassCreation"
               priority="0">
            <objectRequires
                  id="PackageCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @Program annotation on an existing ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.ProgramAnnotationCreationFactory"
               id="ProgramAnnotationCreation"
               priority="0">
            <objectRequires
                  id="ProgramClassCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @Capacity annotation on an existing Parallelj program."
               factory="org.parallelj.code.generator.transformations.utils.ProgramCapacityAnnotationCreationFactory"
               id="ProgramCapacityAnnotationCreation"
               priority="0">
            <objectRequires
                  id="ProgramClassCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at creating the data in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.DataCreationFactory"
               id="DataCreation"
               priority="0">
            <parentRequires
                  id="ProgramClassCreation">
            </parentRequires>
         </transformation>
         <transformation
               description="This transformation aims at creating the data getter method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.DataGetterMethodCreationFactory"
               id="DataGetterMethodCreation"
               priority="0">
            <objectRequires
                  id="DataCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at creating the data setter method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.DataSetterMethodCreationFactory"
               id="DataSetterMethodCreation"
               priority="0">
            <objectRequires
                  id="DataCreation">
            </objectRequires>
            <objectRequires
                  id="DataGetterMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at creating the predicates in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.PredicateCreationFactory"
               id="PredicateCreation"
               priority="0">
            <parentRequires
                  id="ProgramClassCreation">
            </parentRequires>
         </transformation>
         <transformation
               description="This transformation aims at creating the entry method for each procedure in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.ProcedureEntryMethodCreationFactory"
               id="ProcedureEntryMethodCreation"
               priority="0">
            <parentRequires
                  id="ProgramClassCreation">
            </parentRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @Capacity annotation on an existing procedure entry method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.utils.ProcedureCapacityAnnotationCreationFactory"
               id="ProcedureCapacityAnnotationCreation"
               priority="0">
            <objectRequires
                  id="ProcedureEntryMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @Begin annotation on the first procedure of a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.BeginAnnotationCreationFactory"
               id="BeginAnnotationCreation"
               priority="0">
            <objectRequires
                  id="ProcedureEntryMethodCreation">
            </objectRequires>
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @AndJoin annotation on a procedure entry method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.AndJoinAnnotationCreationFactory"
               id="AndJoinAnnotationCreation"
               priority="0">
            <objectRequires
                  id="ProcedureEntryMethodCreation">
            </objectRequires>
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @OrJoin annotation on a procedure entry method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.OrJoinAnnotationCreationFactory"
               id="OrJoinAnnotationCreation"
               priority="0">
            <objectRequires
                  id="ProcedureEntryMethodCreation">
            </objectRequires>
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @XorJoin annotation on a procedure entry method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.XorJoinAnnotationCreationFactory"
               id="XorJoinAnnotationCreation"
               priority="0">
            <objectRequires
                  id="ProcedureEntryMethodCreation">
            </objectRequires>
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @While annotation on an existing procedure in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.WhileAnnotationCreationFactory"
               id="WhileAnnotationCreation"
               priority="0">
            <objectRequires
                  id="ProcedureEntryMethodCreation">
            </objectRequires>
            <customRequires
                  id="PredicateCreation"
                  implementation="org.parallelj.code.generator.transformations.flow.WhileAnnotationCreationRequirement">
            </customRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @ForEach annotation on a existing procedure in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.ForEachAnnotationCreationFactory"
               id="ForEachAnnotationCreation"
               priority="0">
            <objectRequires
                  id="ProcedureEntryMethodCreation">
            </objectRequires>
            <customRequires
                  id="DataCreation"
                  implementation="org.parallelj.code.generator.transformations.flow.ForEachAnnotationCreationRequirement">
            </customRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the exit method for each procedure of a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.ProcedureExitMethodCreationFactory"
               id="ProcedureExitMethodCreation"
               priority="0">
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @AndSplit annotation on a procedure exit method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.AndSplitAnnotationCreationFactory"
               id="AndSplitAnnotationCreation"
               priority="0">
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @OrSplit annotation on a procedure exit method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.OrSplitAnnotationCreationFactory"
               id="OrSplitAnnotationCreation"
               priority="0">
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @XorSplit annotation on a procedure exit method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.XorSplitAnnotationCreationFactory"
               id="XorSplitAnnotationCreation"
               priority="0">
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the correct handler parameters to the exit method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.HandlerParametersCreationFactory"
               id="HandlerParametersCreation"
               priority="0">
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the correct @Handler annotation in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.HandlerAnnotationCreationFactory"
               id="HandlerAnnotationCreation"
               priority="0">
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the exit method for each procedure of a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.GenericExitMethodCreationFactory"
               id="GenericExitMethodCreation"
               priority="0">
            <parentRequires
                  id="ProgramClassCreation">
            </parentRequires>
            <objectRequires
                  id="ProcedureEntryMethodCreation">
            </objectRequires>
            <objectRequires
                  id="PipelineEntryMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding a test class for each program."
               factory="org.parallelj.code.generator.transformations.utils.ProgramTestClassCreationFactory"
               id="ProgramTestClassCreation"
               priority="0">
            <objectRequires
                  id="ProgramExecutionAnnotationCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at creating the test&apos;s content for launching a program."
               factory="org.parallelj.code.generator.transformations.utils.ProgramTestLaunchCreationFactory"
               id="ProgramTestLaunchCreation"
               priority="0">
            <objectRequires
                  id="ProgramTestClassCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at creating the entry method for each pipeline in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.PipelineEntryMethodCreationFactory"
               id="PipelineEntryMethodCreation"
               priority="0">
            <parentRequires
                  id="ProgramClassCreation">
            </parentRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @PipelineParameter annotation on a existing procedure in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.PipelineParameterAnnotationCreationFactory"
               id="PipelineParameterAnnotationCreation"
               priority="0">
            <objectRequires
                  id="PipelineEntryMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the exit method for each pipeline of a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.PipelineExitMethodCreationFactory"
               id="PipelineExitMethodCreation"
               priority="0">
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at creating a Java Pipeline class from a ParallelJ Pipeline."
               factory="org.parallelj.code.generator.transformations.structure.PipelineClassCreationFactory"
               id="PipelineClassCreation"
               priority="0">
            <parentRequires
                  id="ProgramClassCreation">
            </parentRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the exit method for each pipeline procedure of a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.PipelineGenericExitMethodCreationFactory"
               id="PipelineGenericExitMethodCreation"
               priority="0">
            <parentRequires
                  id="PipelineClassCreation">
            </parentRequires>
            <objectRequires
                  id="PipelineProcedureEntryMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at creating the entry method for each pipeline procedure in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.structure.PipelineProcedureEntryMethodCreationFactory"
               id="PipelineProcedureEntryMethodCreation"
               priority="0">
            <parentRequires
                  id="PipelineClassCreation">
            </parentRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @AndSplit annotation on a pipeline procedure exit method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.PipelineProcedureAndSplitAnnotationCreationFactory"
               id="PipelineProcedureAndSplitAnnotationCreation"
               priority="0">
            <objectRequires
                  id="PipelineGenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @Pipeline annotation on an existing ParallelJ pipeline."
               factory="org.parallelj.code.generator.transformations.flow.PipelineAnnotationCreationFactory"
               id="PipelineAnnotationCreation"
               priority="0">
            <objectRequires
                  id="PipelineClassCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @Begin annotation on the pipeline if it is first in ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.PipelineBeginAnnotationCreationFactory"
               id="PipelineBeginAnnotationCreation"
               priority="0">
            <objectRequires
                  id="PipelineEntryMethodCreation">
            </objectRequires>
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @AndJoin annotation on a pipeline entry method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.PipelineAndJoinAnnotationCreationFactory"
               id="PipelineAndJoinAnnotationCreation"
               priority="0">
            <objectRequires
                  id="PipelineEntryMethodCreation">
            </objectRequires>
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @OrJoin annotation on a pipeline entry method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.PipelineOrJoinAnnotationCreationFactory"
               id="PipelineOrJoinAnnotationCreation"
               priority="0">
            <objectRequires
                  id="PipelineEntryMethodCreation">
            </objectRequires>
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @XorJoin annotation on a pipeline entry method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.flow.PipelineXorJoinAnnotationCreationFactory"
               id="PipelineXorJoinAnnotationCreation"
               priority="0">
            <objectRequires
                  id="PipelineEntryMethodCreation">
            </objectRequires>
            <objectRequires
                  id="GenericExitMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @Capacity annotation on an existing pipeline entry method in a ParallelJ program."
               factory="org.parallelj.code.generator.transformations.utils.PipelineCapacityAnnotationCreationFactory"
               id="PipelineCapacityAnnotationCreation"
               priority="0">
            <objectRequires
                  id="PipelineEntryMethodCreation">
            </objectRequires>
         </transformation>
         <transformation
               description="This transformation aims at adding the @Capacity annotation on an existing Parallelj pipeline class."
               factory="org.parallelj.code.generator.transformations.utils.PipelineClassCapacityAnnotationCreationFactory"
               id="PipelineClassCapacityAnnotationCreation"
               priority="0">
            <objectRequires
                  id="PipelineClassCreation">
            </objectRequires>
         </transformation>
      </transformationSet>
   </extension>
<extension
         point="org.eclipse.ui.bindings">
         <key
            commandId="GenerateEffCodeFromShortCut"
            contextId="org.parallelj.designer.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.parallelj.code.generator.actions.GenerateEffCodeFromShortCutKey"
            id="GenerateEffCodeFromShortCut"
            name="Generate Code From KeyBoard ShortCut">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
            adaptable="false"
            id="ObjectContributionGenerateCode"
            objectClass="org.eclipse.gef.GraphicalEditPart">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="CodeGenSeparator">
            </separator>
         </menu>
         <action
               class="org.parallelj.code.generator.actions.GenerateCodeAction"
               icon="icons/obj16/pjgen-16.png"
               id="GenerateCode"
               label="Generate Code"
               menubarPath="org.eclipse.emf.validationMenuID/CodeGenSeparator"
               style="push">
         </action>
         <visibility>
               <objectClass
                     name="org.parallelj.designer.edit.parts.SpecificationEditPart">
               </objectClass>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="DiagramRoot"
            nameFilter="*.pjd"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.parallelj.code.generator.actions.GenerateCodeFromFilesAction"
               icon="icons/elcl16/pjgen-16.png"
               id="generateJavaCodeFromFile"
               label="Generate Code From File"
               menubarPath="org.eclipse.emf.validationMenuID/forGeneration">
         </action>
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="forGeneration">
            </separator>
         </menu>
      </objectContribution>
          <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="ProjectRoot">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="forGeneration">
            </separator>
         </menu>
         <action
               class="org.parallelj.code.generator.actions.GenerateCodeFromProjectAction"
               enablesFor="1"
               icon="icons/elcl16/pjgen-16.png"
               id="generateJavaCodeFromProject"
               label="Generate Code From Diagrams"
               menubarPath="org.eclipse.emf.validationMenuID/forGeneration">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.parallelj.designer.validation.ParallelJNature"/>
         </visibility>
      </objectContribution>
    <objectContribution
          id="ProjectRoot"
          objectClass="org.eclipse.jdt.core.IJavaProject">
       <menu
             id="org.eclipse.emf.validationMenuID"
             label="ParallelJ">
          <separator
                name="forGeneration">
          </separator>
       </menu>
       <action
             class="org.parallelj.code.generator.actions.GenerateCodeFromProjectAction"
             enablesFor="1"
             icon="icons/elcl16/pjgen-16.png"
             id="generateJavaCodeFromProject"
             label="Generate Code From Diagrams"
             menubarPath="org.eclipse.emf.validationMenuID/forGeneration">
       </action>
       <visibility>
          <objectState
                name="projectNature"
                value="org.parallelj.designer.validation.ParallelJNature">
          </objectState>
       </visibility>
    </objectContribution>
    <objectContribution
          adaptable="false"
          id="DiagramRoot"
          nameFilter="*.pjl"
          objectClass="org.eclipse.core.resources.IFile">
       <action
             class="org.parallelj.code.generator.actions.GenerateCodeFromFilesAction"
             icon="icons/elcl16/pjgen-16.png"
             id="generateJavaCodeFromFile"
             label="Generate Code From File"
             menubarPath="org.eclipse.emf.validationMenuID/forGeneration">
       </action>
       <menu
             id="org.eclipse.emf.validationMenuID"
             label="ParallelJ">
          <separator
                name="forGeneration">
          </separator>
       </menu>
    </objectContribution>
   </extension>
</plugin>
