<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="IEditorContribution" name="IEditorContribution" schema="schema/IEditorContribution.exsd"/>
   <extension-point id="IBusinessProcedureContribution" name="IBusinessProcedureContribution" schema="schema/IBusinessProcedureContribution.exsd"/>
   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.parallelj.designer.part.ParallelJDiagramEditorID"
         name="ParallelJ Diagram Editing"
         icon="icons/obj16/ParallelJDiagramFile.png"
         extensions="pjd"
         default="true"
         class="org.parallelj.designer.extension.part.ParallelJDiagramExtendedEditor"
         matchingStrategy="org.parallelj.designer.part.ParallelJMatchingStrategy"
         contributorClass="org.parallelj.designer.part.ParallelJDiagramActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.parallelj.designer.extension.providers.ParallelJEditPartExtendedProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.parallelj.org/0.5.0">
         <adviceBinding
               class="org.parallelj.designer.extension.edit.helpers.advices.ProgramEditHelperAdvice"
               id="org.parallelj.designer.extension.edit.helpers.advices.ProgramEditHelperAdvice"
               inheritance="all"
               typeId="org.parallelj.designer.Program_2001">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding
            context="org.parallelj.designer.TypeContext">
         <advice
               ref="org.parallelj.designer.extension.edit.helpers.advices.ProgramEditHelperAdvice">
         </advice>
      </binding>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="org.parallelj.designer.extension.providers.BlockProcedureEditPolicyProvider">
         <Priority
               name="Medium">
         </Priority>
         <context
               editparts="org.parallelj.designer.edit.parts.BlockProcedureEditPart">
         </context>
         <object
               class="org.parallelj.designer.edit.parts.BlockProcedureEditPart"
               id="org.parallelj.designer.edit.parts.BlockProcedureEditPart">
         </object>
      </editpolicyProvider>
      <editpolicyProvider
            class="org.parallelj.designer.extension.providers.BlockIconEditPolicyProvider">
         <Priority
               name="Medium">
         </Priority>
         <context
               editparts="org.parallelj.designer.edit.parts.BlockIconEditPart"></context>
         <object
               class="org.parallelj.designer.edit.parts.BlockIconEditPart"
               id="org.parallelj.designer.edit.parts.BlockIconEditPart">
         </object>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="ObjectContributionProcedureJoin"
            objectClass="org.eclipse.gef.GraphicalEditPart">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="ProcedureSeparatorJoin">
            </separator>
         </menu>
         <action
               class="org.parallelj.designer.extension.actions.ProcedureSplitAndJoinModificationAction"
               id="JoinOr"
               label="Set JOIN value to OR"
               menubarPath="org.eclipse.emf.validationMenuID/ProcedureSeparatorJoin"
               style="push">
         </action>
         <action
               class="org.parallelj.designer.extension.actions.ProcedureSplitAndJoinModificationAction"
               id="JoinAnd"
               label="Set JOIN value to AND"
               menubarPath="org.eclipse.emf.validationMenuID/ProcedureSeparatorJoin"
               style="push">
         </action>
         <action
               class="org.parallelj.designer.extension.actions.ProcedureSplitAndJoinModificationAction"
               id="JoinXor"
               label="Set JOIN value to XOR"
               menubarPath="org.eclipse.emf.validationMenuID/ProcedureSeparatorJoin"
               style="push">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="org.parallelj.designer.edit.parts.ProcedureEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.WhileLoopEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.ForEachLoopEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.BlockEditPart">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ObjectContributionProcedureSplit"
            objectClass="org.eclipse.gef.GraphicalEditPart">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="ProcedureSeparatorSplit">
            </separator>
         </menu>
         <action
               class="org.parallelj.designer.extension.actions.ProcedureSplitAndJoinModificationAction"
               id="SplitOr"
               label="Set SPLIT value to OR"
               menubarPath="org.eclipse.emf.validationMenuID/ProcedureSeparatorSplit"
               style="push">
         </action>
         <action
               class="org.parallelj.designer.extension.actions.ProcedureSplitAndJoinModificationAction"
               id="SplitAnd"
               label="Set SPLIT value to AND"
               menubarPath="org.eclipse.emf.validationMenuID/ProcedureSeparatorSplit"
               style="push">
         </action>
         <action
               class="org.parallelj.designer.extension.actions.ProcedureSplitAndJoinModificationAction"
               id="SplitXor"
               label="Set SPLIT value to XOR"
               menubarPath="org.eclipse.emf.validationMenuID/ProcedureSeparatorSplit"
               style="push">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="org.parallelj.designer.edit.parts.ProcedureEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.WhileLoopEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.ForEachLoopEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.BlockEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.HandlerEditPart">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ObjectContributionDataType"
            objectClass="org.eclipse.gef.GraphicalEditPart">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="DataSeparatorType">
            </separator>
         </menu>
         <action
               class="org.parallelj.designer.extension.actions.DataTypeModificationAction"
               id="DataType"
               label="Change Type"
               menubarPath="org.eclipse.emf.validationMenuID/DataSeparatorType"
               style="push">
         </action>
         <visibility>
            <objectClass
                  name="org.parallelj.designer.edit.parts.DataEditPart">
            </objectClass>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ObjectContributionWhileLoopPredicate"
            objectClass="org.eclipse.gef.GraphicalEditPart">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="WhileLoopSeparatorPredicate">
            </separator>
         </menu>
          <action
               class="org.parallelj.designer.extension.actions.PredicateAndDataAction"
               id="SetWhileLoopPredicate"
               label="Set WhileLoop Predicate"
               menubarPath="org.eclipse.emf.validationMenuID/WhileLoopSeparatorPredicate"
               style="push">
         </action>
         <visibility>
               <objectClass
                     name="org.parallelj.designer.edit.parts.WhileLoopEditPart">
               </objectClass>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ObjectContributionLinkPredicate"
            objectClass="org.eclipse.gef.GraphicalEditPart">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="LinkSeparatorPredicate">
            </separator>
         </menu>
         <action
               class="org.parallelj.designer.extension.actions.PredicateAndDataAction"
               id="SetLinkPredicate"
               label="Set Link Predicate"
               menubarPath="org.eclipse.emf.validationMenuID/LinkSeparatorPredicate"
               style="push">
         </action>
         <visibility>
               <objectClass
                     name="org.parallelj.designer.edit.parts.LinkEditPart">
               </objectClass>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ObjectContributionProcedureExecutableSelect"
            objectClass="org.eclipse.gef.GraphicalEditPart">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="ProcedureSeparatorExecutable">
            </separator>
         </menu>
         <action
               class="org.parallelj.designer.extension.actions.ProcedureExecutableCreateAction"
               id="CreateExecutable"
               label="Create Executable"
               menubarPath="org.eclipse.emf.validationMenuID/ProcedureSeparatorExecutable"
               style="push">
         </action>
         <action
               class="org.parallelj.designer.extension.actions.ProcedureExecutableSelectAction"
               id="SelectExecutable"
               label="Select Executable"
               menubarPath="org.eclipse.emf.validationMenuID/ProcedureSeparatorExecutable"
               style="push">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="org.parallelj.designer.edit.parts.ProcedureEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.WhileLoopEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.ForEachLoopEditPart">
               </objectClass>
               <objectClass
                     name="org.parallelj.designer.edit.parts.BlockProcedureEditPart">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ObjectContributionForEachLoopIterable"
            objectClass="org.eclipse.gef.GraphicalEditPart">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="ForEachLoopIterableSeparator">
            </separator>
         </menu>
         <action
               class="org.parallelj.designer.extension.actions.PredicateAndDataAction"
               id="ForEachLoopIterable"
               label="Set ForEachLoop Iterable"
               menubarPath="org.eclipse.emf.validationMenuID/ForEachLoopIterableSeparator"
               style="push">
         </action>
         <visibility>
               <objectClass
                     name="org.parallelj.designer.edit.parts.ForEachLoopEditPart">
               </objectClass>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ObjectContributionOpenJavaFile"
            objectClass="org.parallelj.designer.edit.parts.ProgramEditPart">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="OpenJavaSeparator">
            </separator>
         </menu>
         <action
               class="org.parallelj.designer.extension.actions.OpenJavaFileAction"
               icon="icons/obj16/pjopen-16.png"
               id="OpenJavaFile"
               label="Open Generated Class           F3"
               menubarPath="org.eclipse.emf.validationMenuID/OpenJavaSeparator"
               style="push"
               tooltip="Opens the generated Java Class.">
         </action>
         <visibility>
               <objectClass
                     name="org.parallelj.designer.edit.parts.ProgramEditPart">
               </objectClass>
         </visibility>
      </objectContribution>
    </extension>
    
    <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="OpenJavaFile"
            contextId="org.parallelj.designer.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.parallelj.designer.extension.command.OpenJavaFileFromShortCutKey"
            id="OpenJavaFile"
            name="Open Java File">
      </command>
      <command
            defaultHandler="org.parallelj.designer.extension.command.DependencyManagementCommand"
            id="org.parallelj.designer.extension.dependencyManagement"
            name="Dependency Management">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <command
                  commandId="org.parallelj.designer.extension.dependencyManagement"
                  icon="icons/obj16/ParallelJDiagramFile.png"
                  label="Add Maven dependencies for Business Procedure contributions"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <test
                              forcePluginActivation="true"
                              property="org.parallelj.designer.extension.canDependencyVisible">
                        </test>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.parallelj.designer.extension.command.DependencyPropertyTester"
            id="org.parallelj.designer.extension.dependencypropertytester"
            namespace="org.parallelj.designer.extension"
            properties="canDependencyVisible"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>

</plugin>
