<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.parallelj.extensions.data.contribution"
            nameFilter="*.xsd"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.validationMenuID"
               label="ParallelJ">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.parallelj.extensions.data.generator.actions.DataGeneratorAction"
               enablesFor="1"
               icon="icons/ParallelJDiagramFile.png"
               id="org.parallelj.extensions.data.newAction"
               label="Generate JAXB pojos from XSD file"
               menubarPath="org.eclipse.emf.validationMenuID/group">
         </action>
      </objectContribution>
   </extension>

</plugin>
